html {
  font-size: 62.5%; /* 10px */
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 0 0.1px black; temporary */
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f6f6f6;
  color: #111827;
}
