.section-list-product {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 75rem;
  padding: 1rem 5rem;
  margin: 3rem;
  border-radius: 6px;
  background: white;
}

.section-list-product h2 {
  font-size: 1.8rem;
  padding: 5rem 0;
  color: #373737;
}

.list-product-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
  color: #454545;
  font-size: 1.5rem;
  font-weight: 600;
}

.list-product-format {
  align-items: center;
  font-weight: 500;
}

.list-product-icon {
  height: 8rem;
}

.list-product-remove-icon {
  cursor: pointer;
  margin: auto;
}

.list-product-all-products {
  overflow-y: auto;
}

/* ------ MEDIA QUERIES --------- */

@media (max-width: 50em) {
  .section-list-product {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 1rem 3rem;
    margin: 2rem auto;
  }

  .list-product-format-main {
    padding: 1.5rem 0;
    color: #454545;
    font-size: 1.2rem;
  }

  .list-product-icon {
    height: 6.4rem;
  }
}
