.form-loginsignup {
  width: 100%;
  /* height: 80vh; */
  background: linear-gradient(180deg, #dbdad834, #dbdad830 60%);
  padding: 10rem 0;
  margin-bottom: 8rem;
}

.loginsignup-container {
  width: 58rem;
  /* height: 60rem; */
  background: white;
  margin: auto;
  padding: 4rem 6rem;
}

.loginsignup-container h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.loginsignup-fields input {
  height: 7rem;
  width: 100%;
  padding-left: 2rem;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 1.8rem;
}

.loginsignup-container button {
  width: 100%;
  height: 7.2rem;
  color: white;
  background: #ff4040;
  border: none;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2rem;
}

.loginsignup-login {
  margin-top: 2rem;
  color: #5c5c5c;
  font-size: 1.7rem;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4040;
  font-weight: 600;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  gap: 2.5rem;
  color: #5c5c5c;
  font-size: 1.6rem;
  font-weight: 500;
}

.loginsignup-agree input {
  width: 2rem;
  height: 2rem;
}
