.section-repair {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  justify-content: center;
  align-content: center;
  gap: 3.75rem;
  height: 100vh;
  margin-top: 3rem;
}

.repair-text {
  /* text-align: left; */
  /* max-width: 25rem;
  justify-self: center; */
  grid-column: 2/4;
}

.repair-text h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  color: #9999;
  margin-bottom: 1.25rem;
}

.repair-text span {
  color: #ff4141;
}

.repair-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #555;
  margin-top: 0;
}

.repair-text p span {
  font-weight: 700;
  color: #ff7e5f;
}

.repair-button {
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: #ff4141;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  transition:
    background 0.3s,
    transform 0.2s;
}

.repair-button:hover {
  background-color: #e03a3a; /* darker red */
  transform: translateY(-0.125rem); /* subtle lift */
}

.cracked-phone {
  grid-column: 4/-1;
}

/* Up to 1024px */
@media (max-width: 64em) {
  .section-repair {
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
  }

  .repair-text h2 {
    font-size: 2.5rem;
  }

  .repair-text p {
    font-size: 1.3rem;
  }

  .cracked-phone {
    grid-column: 4/-1;
  }
}

/* Up to 800px */
@media (max-width: 50em) {
  .section-repair {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 6rem;
  }

  .repair-text {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
  }

  .repair-text h2 {
    font-size: 2rem;
  }

  .repair-text p {
    font-size: 1.2rem;
  }

  .cracked-phone {
    grid-column: 1/-1;
    grid-row: 1;
    width: 70%; /* smaller phone */
    margin: 0 auto;
  }
}

/* Up to 500px */
@media (max-width: 31.25em) {
  .section-repair {
    grid-template-columns: 1fr;
    gap: 5rem;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .repair-text h2 {
    font-size: 1.6rem;
  }

  .repair-text p {
    font-size: 1rem;
  }

  .repair-button {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
  }

  .cracked-phone {
    width: 90%;
    margin: 0 auto;
  }
}
