.section-offers {
  width: 80%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0 14rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, #fcb99e, #e1ffea22 60%);
  margin-bottom: 12rem;
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.offers-left h1 {
  color: #181818;
  font-size: 8rem;
  font-weight: 600;
}

.offers-left p {
  color: #181818;
  font-size: 2rem;
  font-weight: 600;
}

.offers-left button {
  width: 28rem;
  height: 7rem;
  border-radius: 35px;
  background-color: #ff4040;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
