.section-navbar {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo img {
  width: 6.4rem;
  height: 6.4rem;
}

.nav-logo p {
  color: #171717;
  font-size: 4rem;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
  color: #606060;
  font-size: 2rem;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* For React Links <Link> */
.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.nav-menu hr {
  border: none;
  width: 90%;
  margin-right: 10%;
  margin-top: 5%;
  height: 0.3rem;
  border-radius: 10px;
  background: #ff4141;
  transform-origin: left;
  transform: scaleX(0);
  animation: grow 0.3s ease forwards;
}

@keyframes grow {
  to {
    transform: scaleX(1);
  }
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.nav-login-cart button {
  width: 15rem;
  height: 6rem;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.5rem;
  margin-left: -5.5rem;
  border-radius: 10px;
  font-size: 1.4rem;
  background: red;
  color: white;
}

/* ---- MEDIA QUERIES ---- */

/* Up to 1280px */
@media (max-width: 80em) {
  .section-navbar {
    padding: 1.2rem 5rem;
  }
  .nav-logo img {
    width: 4rem;
    height: 4rem;
  }
  .nav-logo p {
    font-size: 2.5rem;
  }
  .nav-menu {
    gap: 3rem;
    font-size: 1.6rem;
  }
  .nav-login-cart {
    gap: 3rem;
  }
  .nav-login-cart button {
    width: 12rem;
    height: 4.5rem;
  }
  .nav-cart-count {
    margin-left: -4rem;
    font-size: 1.2rem;
  }
}

/* Up to 1024px */
@media (max-width: 64em) {
  .section-navbar {
    padding: 1.2rem 3rem;
  }
  .nav-menu {
    gap: 2.5rem;
    font-size: 1.4rem;
  }
  .nav-login-cart button {
    width: 8rem;
    height: 3.5rem;
    font-size: 1.4rem;
  }
  .nav-login-cart img {
    width: 3rem;
  }
  .nav-cart-count {
    width: 1.8rem;
    height: 1.8rem;
  }
}

/* Up to 800px */
@media (max-width: 50em) {
  .section-navbar {
    padding: 1rem 0;
  }
}

/* Up to 500px */
@media (max-width: 31.25em) {
  .section-navbar {
    width: 0.8rem 0;
    gap: 0;
  }
  .nav-menu {
    /* height: 2rem; */
    gap: 1rem;
  }
  .nav-login-cart {
    transform: scale(0.8);
  }
}
