.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}

.related-products h2 {
  color: #181818;
  font-size: 5rem;
  font-weight: 600;
}

.related-products hr {
  width: 20rem;
  height: 0.6rem;
  border-radius: 10px;
  background: #252525;
}

.related-products-item {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
}

/* ----------- Up to 1280px ----------- */
@media (max-width: 80em) {
  .related-products h2 {
    font-size: 4.5rem;
  }

  .related-products hr {
    width: 18rem;
    height: 0.5rem;
  }

  .related-products-item {
    gap: 2.5rem;
  }
}

/* ----------- Up to 1024px ----------- */
@media (max-width: 64em) {
  .related-products {
    height: 60vh;
    gap: 0.8rem;
  }

  .related-products h2 {
    font-size: 3.8rem;
    text-align: center;
  }

  .related-products hr {
    width: 15rem;
    height: 0.5rem;
  }

  .related-products-item {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

/* ----------- Up to 800px ----------- */
@media (max-width: 50em) {
  .related-products {
    height: auto;
    margin-bottom: 8rem;
  }
  .related-products h2 {
    font-size: 3rem;
  }

  .related-products hr {
    width: 12rem;
    height: 0.4rem;
  }

  .related-products-item {
    gap: 1.5rem;
  }
}

/* ----------- Up to 500px ----------- */
@media (max-width: 31.25em) {
  .related-products h2 {
    font-size: 2.2rem;
  }

  .related-products hr {
    width: 10rem;
    height: 0.3rem;
  }

  .related-products-item {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
}
