.section-cart-items {
  margin: 10rem 16rem;
}

.section-cart-items hr {
  height: 0.3rem;
  background: #e2e2e2;
  border: 0;
}

.cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 7.5rem;
  padding: 2rem 0;
  color: #454545;
  font-size: 1.8rem;
  font-weight: 600;
}

.cart-items-format {
  font-size: 1.8rem;
  font-weight: 500;
}

.cart-icon-product-icon {
  height: 4rem;
}

.cart-items-remove-icon {
  width: 1.5rem;
  margin: 0 4rem;
  cursor: pointer;
}

.cart-items-quantity {
  width: 6.4rem;
  height: 5rem;
  border: 2px solid #ebebeb;
  background: #fff;
}

/* ////////////////////////// */

.cart-items-down {
  display: flex;
  margin: 10rem 0;
}

.cart-items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20rem;
  gap: 4rem;
}

.cart-items-total h2 {
  font-size: 1.8rem;
}

.cart-items-total-items {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}

.cart-items-total button {
  width: 26rem;
  height: 6rem;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.cart-items-promo-code {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-items-promo-code p {
  color: #555;
}

.cart-items-promo-box {
  display: flex;
  width: 50rem;
  margin-top: 1.5rem;
  place-content: 2rem;
  height: 6rem;
  background: #cfcfcf;
}

.cart-items-promo-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.6rem;
  width: 33rem;
  height: 5rem;
  text-align: center;
}

.cart-items-promo-box button {
  width: 18rem;
  height: 6rem;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
}
