.section-hero {
  height: 100vh;
  background: linear-gradient(180deg, #dbdad8a7, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 18rem;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 2.6rem;
  font-weight: 600;
}

.hero-left p {
  color: #181818;
  font-size: 8rem;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-hand-icon img {
  width: 10rem;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 30rem;
  height: 7rem;
  margin-top: 3rem;
  background: #ff4040;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}
