.section-hero {
  height: 100vh;
  background: linear-gradient(180deg, #dbdad8a7, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 18rem;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 2.6rem;
  font-weight: 600;
}

.hero-left p {
  color: #181818;
  font-size: 8rem;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-hand-icon img {
  width: 10rem;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 30rem;
  height: 7rem;
  margin-top: 3rem;
  background: #ff4040;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-latest-btn:hover {
  background: #ff2222;
  transform: translateY(-0.1rem);
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

/* ---- MEDIA QUERIES ---- */

/* Up to 1280px */
@media (max-width: 80em) {
  .section-hero {
    height: 80vh;
  }
  .hero-left {
    padding-left: 10rem;
  }
  .hero-left h2 {
    font-size: 2.2rem;
  }
  .hero-left p {
    font-size: 6rem;
  }
  .hero-latest-btn {
    gap: 1rem;
    width: 25rem;
    height: 6rem;
    margin: 2rem;
    font-size: 1.8rem;
  }
  .hero-right img {
    width: 34rem;
  }
}

/* Up to 1024px */
@media (max-width: 64em) {
  .hero-left {
    padding-left: 8rem;
  }
  .hero-left h2 {
    font-size: 2rem;
  }
  .hero-left p {
    font-size: 5rem;
  }
  .hero-latest-btn {
    width: 22rem;
    height: 5rem;

    font-size: 1.6rem;
  }
  .hero-right img {
    width: 30rem;
  }
}

/* Up to 800px */
@media (max-width: 50em) {
  .hero-left {
    padding-left: 3rem;
  }
  .hero-left h2 {
    font-size: 1.6rem;
  }
  .hero-left p {
    font-size: 4rem;
  }
  .hero-latest-btn {
    width: 17.5rem;
    height: 4rem;

    font-size: 1.3rem;
  }
  .hero-right img {
    width: 26rem;
  }
}

/* Up to 500px */
@media (max-width: 31.25em) {
  .section-hero {
    flex-direction: column;
    height: 60vh;
  }
  .hero-right {
    display: none;
  }
  .hero-left h2 {
    font-size: 1.8rem;
  }
  .hero-left p {
    font-size: 3rem;
  }
  .hero-latest-btn {
    width: 20rem;
    height: 4.5rem;
    font-size: 1.4rem;
  }
}
