.form-add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 80rem;
  padding: 3rem 5rem;
  margin: 2rem 3rem;
  border-radius: 6px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-product-item-field {
  width: 100%;
  color: #7b7b7b;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.add-product-item-field input {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  border-radius: 4px;
  padding-left: 1.5rem;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-size: 1.4rem;
}

.add-product-price {
  display: flex;
  gap: 4rem;
}

.add-product-selector {
  padding: 1rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.4rem;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}

.add-product-thumbnail-img {
  height: 12rem;
  width: 12rem;
  border-radius: 10px;
  object-fit: contain;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-product-thumbnail-img:hover {
  transform: scale(1.03);
}

.add-product-btn {
  margin-top: 2rem;
  width: 16rem;
  height: 5rem;
  border-radius: 6px;
  background: #616162;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  transition: background 0.3s ease;
}
.add-product-btn:hover {
  background: #363636;
}

/* ------ MEDIA QUERIES -------- */

@media (max-width: 50em) {
  .form-add-product {
    width: auto;
    padding: 3rem;
    margin: 2rem;
  }
}
