.section-newsletter {
  width: 65%;
  /* height: 35vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 14rem;
  padding-top: 12rem;
  background: linear-gradient(180deg, #eceff1, #e1ffea22 60%);
  gap: 4rem;
  margin-bottom: 10rem;
}

.section-newsletter h2 {
  color: #454545;
  font-size: 5.5rem;
  font-weight: 600;
}

.section-newsletter p {
  color: #454545;
  font-size: 2rem;
}

.section-newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 70rem;
  height: 7rem;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.section-newsletter input {
  width: 50rem;
  margin-left: 3rem;
  border: none;
  outline: none;
  color: #606060;
  font-family: Poppins;
  font-size: 1.6rem;
}

.section-newsletter div button {
  width: 20rem;
  height: 7rem;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
