.section-new-smartphones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 11rem;
}

.section-new-smartphones h2 {
  color: #161616;
  font-size: 4rem;
  font-weight: 600;
}

.section-new-smartphones hr {
  width: 30rem;
  height: 0.6rem;
  border-radius: 10px;
  background: #232323;
}

.smartphones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5rem;
  gap: 3rem;
}
