.section-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.section-popular h2 {
  color: #161616;
  font-size: 5rem;
  font-weight: 600;
}

.section-popular hr {
  width: 30rem;
  height: 0.6rem;
  border-radius: 10px;
  background: #232323;
}

.popular-item {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
}
