.description-box {
  margin: 8rem 16rem;
}

.description-box-navigator {
  display: flex;
}

.description-box-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  width: 17rem;
  height: 7rem;
  border: 1px solid #d0d0d0;
}

.description-box-nav-box.fade {
  background: #fbfbfb;
  color: #555;
}

.description-box-description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #d0d0d0;

  padding: 4.8rem;
  padding-bottom: 7rem;
}
